.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}
#active {
  background-color: white;
  color: steelblue;
}
nav {
  text-align: center;
  background-color: #4682b4;
  padding: 10px;
  }
a {
  color: white;
  margin: 40px;
}
h1 {
  text-align: center;
  color: steelblue;
}
img {

}
p {
  padding: 10px;
  margin: 50px auto;
  text-align: center;
}
a {
  font-size: 1.5em;
}
footer {
  text-align: center;
  background-color: steelblue;
  color: white;
}

a:hover {
  background-color: white;
  color: steelblue;
}