@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&family=Roboto&display=swap');

body {
    background-color: #151515;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

body h1 {
    font-family: "Libre Bodoni", Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
    color: #E5E5E5;
}

body a, body p {
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #E5E5E5;
}

header, footer, main {
    max-width: inherit;
}

header, footer {
    width: 100%;
    height: 75px;
    background-color: #960508;
    display: flex;
    align-items: center;
}

footer img, header img {
    width: 50px;
    height: auto;
    transition: transform .5s;
}

footer img:hover, header img:hover {
    transform: scale(1.25);
}

header{
    position: fixed;
    z-index: 100;
    justify-content: left;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-left: 10px;
}

nav a {
    padding: 28px;
}

nav a:hover {
    background-color: #E5E5E5;
    color: #151515;
}

#logo_link {
    margin-top: 5px;
    margin-left: 25px;
}

#logo_link, #upper-nav {
    z-index: 101;
}

footer {
    justify-content: space-between;
}


#site-plan {
    align-self: center;
    justify-self: center;
}

#footer-links {
    margin-top: 5px;
    display: flex;
    gap: 25px;
    padding-left: 25px;
}

#footer-credits {
    font-size: 0.75em;
    line-height: 1.45;
    padding-right: 25px;
}

#footer-credits a:hover, #site-plan:hover {
    color: #151515;
}

#hero-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 75px repeat(8, 1fr) ;
}

#hero-grid img {
    width: 100%;
    height: 100%;
    grid-column: 1/16;
    grid-row: 2/9;
}

#hero-grid h1 {
    color: #151515;
    grid-column: 8/15;
    grid-row: 2/5;
    z-index: 1;
    align-self: center;
    justify-self: center;
}

#info-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

/*
----------------------------------------------------------------------------

DO NOT ALTER ANYTHING ABOVE THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

----------------------------------------------------------------------------

----------------------------------------------------------------------------

///////////////////////////////// Home Page ////////////////////////////////

----------------------------------------------------------------------------
*/

#home-quote {
    padding: 50px;
}

#home-quote h1, #home-quote h2 {
    color: #E5E5E5;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    font-size: 2.5em;
}

.home-left-block, .home-right-block {
    display: grid;
    grid-template: repeat(7, 1fr)/repeat(15, 1fr);
}

.home-left-block img, .home-right-block img {
    width: 200px;
    height: auto;
    grid-row: 2/4;
    border-top: 5px solid #960508;
    border-bottom: 5px solid #960508;
}

.home-left-block img {
    border-left: 5px solid #960508;
}

.home-right-block img {
    border-right: 5px solid #960508;
}

.home-left-block-img, .home-left-block-btn-bkg, .home-left-block-btn-txt {
    grid-column: 2/4;
}

.home-right-block-img, .home-right-block-btn-bkg, .home-right-block-btn-txt {
    grid-column: 13/15;
}

.home-left-block-bkg, .home-right-block-bkg {
    z-index: -1;
}

.home-left-block-bkg, .home-left-block-btn-bkg, .home-right-block-bkg, .home-right-block-btn-bkg {
    background-color: #960508;
    height: auto;
    width: auto;
}

.home-left-block-bkg, .home-right-block-bkg {
    grid-row: 2/6;
}

.home-left-block-bkg {
    grid-column: 4/15;
}

.home-right-block-bkg {
    grid-column: 2/13;
}

.home-left-block-btn-bkg, .home-right-block-btn-bkg {
    grid-row: 5/6;
    margin: 20px;
    border-radius: 20px;
}

.home-left-block-txt,.home-left-block-btn-txt, .home-right-block-txt,.home-right-block-btn-txt {
    align-self: center;
    justify-self: center;
}

.home-left-block-txt, .home-right-block-txt {
    font-size: 2em;
    grid-row: 2/6;
}

.home-left-block-txt {
    grid-column: 5/14;

}

.home-right-block-txt {
    grid-column: 3/11;

}

.home-left-block-btn-txt, .home-right-block-btn-txt {
    color: #E5E5E5;
    font-size: 1.5em;
    grid-row: 5/6;
    z-index: 1;
    transition: transform .5s;
}

.home-left-block-btn-txt:hover, .home-right-block-btn-txt:hover {
    transform: scale(1.25);
}

/*
----------------------------------------------------------------------------

/////////////////////////////// Showcase Page //////////////////////////////

----------------------------------------------------------------------------
*/

#showcase-headerline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 75px;
}

#showcase-headerline h1 {
    grid-row: 2/3;
}

.showcase-left-block-bkg, .showcase-right-block-bkg {
    background-color: #960508;
    height: auto;
    width: auto;
    grid-column: 2/15;
    grid-row: 3/10;
    z-index: -1;
}

.showcase-left-block, .showcase-right-block {
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(15, 1fr);
}

.showcase-left-block-txt, .showcase-right-block-txt {
    grid-row: 4/9;
    text-align: justify;
    margin-top: -1px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.15em;
}

.showcase-left-block-txt {
    grid-column: 2/9;
}

.showcase-right-block-txt {
    grid-column: 8/15;
}

.showcase-left-block-ttl-img, .showcase-right-block-ttl-img {
    width: 600px;
    height: auto;
    grid-row: 2/4;
    justify-self: center;
}

.showcase-left-block-ttl-img {
    grid-column: 2/10;
}

.showcase-right-block-ttl-img {
    grid-column: 7/15;
    margin-top: -30px;
}

.showcase-left-block-inr-img, .showcase-right-block-inr-img {
    width: auto;
    height: 500px;
    grid-row: 4/9;
    justify-self: center;
    align-self: center;
}

.showcase-left-block-inr-img {
    grid-column: 9/15;
}

.showcase-right-block-inr-img {
    grid-column: 2/8;
}


/*
----------------------------------------------------------------------------

/////////////////////////////// About me Page //////////////////////////////

----------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------

DO NOT ALTER ANYTHING BELOW THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

----------------------------------------------------------------------------
*/

